 <div class="wrapper wrapper_padding clearfix">
           <div class = "col-1 about homepage_content">
               <h2>About</h2>
               <hr>
               <p>I'm a software engineer &amp; student living in Seattle, WA United States.
               </p>
               <p>Currently I work at Amazon's ordering team responsible for the whole ordering workflow after checkout for all retail businesses.
                I graduated from university in 2019 double majoring in Computer Science and Statistics. I spend my free time making web and iOS applications;
                learning and applying concepts about Machine Learning and Distributed System. I also love being a TA for
                Algorithm, Data Structure, and Software Engineering classes at school  <a href='https://www.cs.ubc.ca/'> UBC Computer Science</a>
               </p>.
               <p> You can find me on Twitter, Facebook, Instagram, professional details on LinkedIn, and sharing some
                code on Github.
            </p>
               
           </div>
           <div class ="col-2 homepage_content">
             <h2>  Recent Posts </h2>
             <hr>

             <% @posts.each do |post| %>
             <h3><a href="#"><%= link_to post.title, post%></a></h3>
             <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>

             <% end %>
           </div>
           <div class ="col-3 homepage_content">
            <h2>  Recent Projects </h2>
             <hr>
             <% @projects.each do |project| %>
             <h3><a href="#"><%= link_to project.title, project%></a></h3>
             <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>

             <% end %>
             

           </div>
        </div>
